<div class="row">
  <div class="col-6">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Buscar por nome</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="this.getCharacter(1)">Buscar</button>
  </div>
</div>
<div class="row">
  <div class="col-3" *ngFor="let character of (character?.results)">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style='background-image: url("{{character.thumbnail.path}}.{{character.thumbnail.extension}}")'>

        </div>
        <mat-card-title>{{character.name}}</mat-card-title>
        <mat-card-subtitle>Marvel</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="max-height: 400px;min-height: 400px" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="Photo of a Shiba Inu">
      <mat-card-content style="">
        <p>
          <!-- {{character.description}} -->
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="{{character.gostei?'accent':''}}" (click)="gostei(character)">GOSTEI</button>
        <button mat-button [routerLink]="['/internal/character-detail', character.id]">VISUALIZAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="character">
    <mat-paginator [length]="character?.total" [pageSize]='itemsPerPage'
    (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons="false">
      </mat-paginator>
  </div>
  </div>
